body {
    margin: 0;
    background: #28192f;
    font-family: 'Montserrat';
  }
.home{
    /* background: url('../IMG/phin.png'); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 500px;
    position: relative;
    overflow: hidden;
}

.home .title{
    width: 100%;
    height: 100%;
    min-height: 600px;
    position: absolute;
    padding: 0 80px;
    top: 0;
    /* background: rgba(35, 168, 231); */

}

.home .title-wrap{
    margin-top: 100px;
}

.home h1{
    color: white;
    width: 100%;
    display: block;
    margin: 0;
    font-size: 45px;
    font-weight: 500;
    line-height: 1.7;
}
.home h1 span{
    color: white;
}

.home h2{
    color: white;
    display: block;
    font-size: 27px;
    line-height: 1.7;
}

.home h2 span{
    color: white;

}

.home p{
    color: white;
    font-size: 18px;
    margin-top: 20px;
    max-width: 450px;
}

.btn{
    color: #ffffff;
    background: #AF31E4;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0 40px;
    border-radius: 0;
    position: relative;
    display: inline-block;
    border: 2px solid #AF31E4;
}

.btn:hover{
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;

}
@media only screen and (max-width:768px){
    .home .title{
        padding: 0 40px;
        width: 100%;
    }
    .home h2,
    .home p{
        font-size: 20px;
     }
}

@media(max-width:576px){
    .home h2,
    .home p{
        font: size 18px;
    }
    .home h2{
        font-size: 30px;
    }
}

@media(max-width:350px){
    .home h2,
    .home p{
        font-size: 16px;
    }

    .home h1{
        font-size: 28px;
    }
}


.wrapper {
    padding: 3 80px;
    max-width: 1200px;
    margin: 0 auto;
    color: #000000;
  }
  
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
            height: 40px;
        }
        
        header .logo {
            color: #ffffff;
            font-size: 16px;
            font-weight: bold;
        }
        
        header ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            list-style:none;
            
        }
        
        header ul li a {
            text-decoration: none;
            padding: 0 .5em;
            color: #ffffff;
  }
  header a{
      text-transform: none;
    }
    header a:hover{
        color: blueviolet;
        text-decoration: none;
  }



footer {
    color: #ffffff;
    text-align: center;
}

footer .footer-cols ul{
    list-style: none;
}

footer .footer-cols ul li:first-child{
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    border-bottom: #4444 solid 1px;
    margin-bottom: 1rem;
}

footer .footer-bottom {
    color:#ffffff;
    padding: 0 80px;
}
@media(max-width:370px){
    header .logo {
        color: #ffffff;
        font-size: 10px;
        font-weight: bold;
    }
    footer {
        color: #ffffff;
        text-align: center;
        align-items: baseline;
        padding-bottom: 2rem;
    }
}